<div class="cube">
  <img class="cube" src={{this.image}} />
  <p class="name">{{this.name}}</p>
  <p><span>Difficulty level:</span>{{this.difficultyLvl}}</p>
  <a class="btn" href={{this.id}}>Details</a>
</div>